{#<form method="get" action="{% url 'search_names' %}">#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Search</button>#}
{#</form>#}
{##}
{#{% if names %}#}
{#    <ul>#}
{#    {% for name in names %}#}
{#        <li>{{ name.name }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
{% load static %}
{% block content %}
    <form method="get" id="search-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="selected_names" id="selected-names-input">
        <button type="submit" id="submit-button" disabled>Generate Reports</button>
    </form>

    <div id="search-results"></div>

    <br>
    {#    <hr>#}
    <div id="selected-names-window"></div>
    <hr>

    {#    <h2>Selected Names</h2>#}
    <ul id="selected-names"></ul>

    <link rel="stylesheet" type="text/css" href="{% static 'css/search_names.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            //  $('#search-form') means look for and return the element with id="search-form"
            $('#search-form').on('keyup', function (event) {
                event.preventDefault(); // this line prevents the default html behaviour

                $.ajax({
                    url: '{% url "search_names" %}',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (data) {
                        let results = data.map(obj => `<li data-name="${obj.name}">${obj.name}</li>`);
                        $('#search-results').html('<ul>' + results.join('') + '</ul>');
                    }
                });
            });
            $('#search-results').on('click', 'li', function () {
                let name = $(this).data('name');

                // Add the selected name to the list (if not already exist in the list)
                if ($('#selected-names li:contains("' + name + '")').length === 0) {
                    $('#selected-names').append('<li><mark>' + name + '</mark></li>');
                    $('#selected-names-window').append('<p><strong>' + name + '</strong></p>');
                }

                // selected names is passed to the view handling this template
                $('#selected-names-input').val(function (index, value) {
                    return value + (value ? ',,' : '') + name;
                });
                $('#submit-button').prop('disabled', false);
            });
        });
    </script>
{% endblock %}



